<article id = "exhibitions" class="container-fluid">
<section class="row">

<!-- Musik Klub -->

<section data-4000="opacity:0" data-5000="opacity:1" class="col-md-3  col-sm-3 col-xs-6  exhibition", id = "musikklub_poster">
<%= link_to image_tag("musikklub.jpg", alt: "One time only...", :data => {:'3000' => "display: none;", :'3200' => "display:block;" }, class: "exhbitimage"), musikklub_path %>
<article class="exhibition-details" id="musikklub_poster_link">
      <!-- <h3 class = "text-center"><%= link_to "MUSIK KLUB: TV Party Edition", musikklub_path, data: { no_turbolink: true }, class: "exhibition-link" %>  </h3> -->
      <!-- <h4 class ="text-center">by Jamie Ward</h4> -->
      <!-- <h4 class ="text-center">Sept 3rd - ongoing</h4> -->
</article>
</section>

<!-- It's a Long Way From the Wishbone to the Backbone -->

<section data-4000="opacity:0" data-5000="opacity:1" class="col-md-3 col-sm-3 col-xs-6  exhibition", id = "wishbone_poster">
<%= link_to image_tag("wishbone.jpg", alt: "One time only...", :data => {:'3000' => "display: none;", :'3200' => "display:block;" }, class: "exhbitimage"), wishbone_path %>
<article class="exhibition-details" id="wishbone_poster_link">
      <!-- <h3 class ="text-center"><%= link_to "It's a Long Way From the Wishbone to the Backbone", root_path, data: { no_turbolink: true }, class: "exhibition-link" %> </h3> -->
      <!-- <h4 class ="text-center">Works by Joël Doyle. Curated by Zebulon Zang </h4> -->
      <!-- <h4 class ="text-center">Sept  11 - October 14th, 2015</h4> -->
  </article> 
</section>

<!-- Limited Time Library -->

<section data-4000="opacity:0" data-5000="opacity:1" class="col-md-3  col-sm-3 col-xs-6 exhibition", id = "library_poster">
<%= link_to image_tag("librarylogosimple.jpg", alt: "One time only...", :data => {:'3000' => "display: none;", :'3200' => "display:block;" }, class: " exhbitimage"), contributors_path %>
<article class="exhibition-details" id = "library_poster_link" >
      <!-- <h3 class ="text-center"><%= link_to "Limited Time Library", contributors_path, class: "exhibition-link" %> </h3> -->
      <!-- <h4 class ="text-center">Co-curated by Abbey Hopkins and Catherine de Montreuil</h4> -->
      <!-- <h4 class ="text-center">October 4th - November 15th, 2015</h4> -->
</article>
</section>

<!-- Archives -->

<article data-4000="opacity:0" data-5000="opacity:1" class = "col-md-3 col-sm-3 col-xs-6  exhibition" id = "archive_posters">
<section class="rotatimg">
    <%= link_to image_tag("#{@artifact.image}", alt: "#{@artifact.alt}", class: "img-responsive frontpageimage center-block "), @artifact.path , data: { no_turbolink: true }, class: "archive-link "%>
</section>

<article class="exhbition_details" id = "archive_posters_link">
   <!-- <h3 class="archive-logo text-center"> <%= link_to "Archives", @artifact.path %> </h3> -->
</article>
</article>
<section class="swap-images">
    <%@artifacts.each do |artifact| %>
      <%= link_to image_tag("#{artifact.image}", alt: "#{artifact.alt}", class: "img-responsive"), 
      artifact.path, data: { no_turbolink: true }, class: "archive-link"%>
    <% end %>
  </section>
<div class="clearfix"></div>
</section>

<section class="row">
  <h4 class = "TBA text-muted unit-font">More Programming TBA...</h4>
</section>

</article>