<% provide(:title, 'Future Concrete') %>
<% provide(:html_class, 'future_concrete') %>
<nav class="homepage-waiaftl">
  <%= link_to "Continue to 2055 Project", index_path %>
</nav>
<div class="conc-wrap">
<%= link_to image_tag("concpo4.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg"), index_path, class: "futureconcreteimg" %>
<%= image_tag("concpo1.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo2.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo3.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo1.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo2.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo3.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo4.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo4.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo1.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo2.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo3.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo4.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo1.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo2.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo3.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo4.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo3.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo1.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo2.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo4.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo1.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo2.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo3.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo5.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
<%= image_tag("concpo6.jpg", alt: "Future Concrete Poetry", class: "futureconcreteimg") %>
</div>
