<% provide(:title, '~~!~~Win 1 One! Win One WIN~~!') %>
<% provide(:html_class, 'ultralottery') %>
<% provide(:container_class, 'winone') %>
<!-- ARMY OF ONES -->
<section class="littleone">
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>
<%= image_tag("orafs_ultra_lottery.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "littleone") %>


</section>
<!-- ORAF PROMISES -->
<section class="secretartshow">
<%= image_tag("orafs_ultra_lottery2.png", alt: "Oraf's Ultra Secret Art Show! Win One!", class: "secretartshow") %>

</section>
