<% provide(:title, '2055 Project') %>
<% provide(:html_class, 'seven-sin') %>
<% provide(:styles, "color: white;") %>

<%= render "archive_nav" %>
<section class="sosomg">
<%= image_tag("sevensins_envy.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("sevensins_gluttony.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("sevensins_greed.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("sevensins_lust.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("sevensins_pride.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("sevensins_sloth.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("sevensins_wrath.png", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
<%= image_tag("poster_elainesinstv.jpg", alt: "Elaine Brewer-White's The Seven Deadly Sins and the Television Set")%>
</section>
