<% provide(:title, 'Why Am I Afraid to Love') %>
<% provide(:html_class, 'waiatl') %>
<nav class="homepage-waiaftl">
  <%= link_to "Continue to 2055 Project", index_path %>
</nav>
<section class="whyami center-block">
    <%= image_tag("w8", alt: "", class: "center-block img-responsive") %>
</section>
<section class="why-swap-images">
      <%= image_tag("wrobin.png", alt: "Why Am I Afraid to Love", class: "img-responsive whyimage") %>
      <%= image_tag("wpizza.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w13.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("sit.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("spank.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("sti.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w30.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w22.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w11.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w8.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w7.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w3.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w16.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("w17.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl1.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl2.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl3.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl4.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl5.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl6.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl7.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl8.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl9.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl10.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl11.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl12.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl13.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl14.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl15.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl16.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl17.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl18.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl19.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl20.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl21.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl22.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl23.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl24.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
      <%= image_tag("waiatl25.png", alt: "Why Am I Afraid to Love", class: "center-block img-responsive", style: "display:none") %>
  </section>
<div class="clearfix"></div>
