<%= provide(:html_class, "wishbone") %>
<%= provide(:title, 'Its a Long Way From the Wishbone to the Backbone') %>




<section class="wishbonewrap">


	newanvil.gif
newanvil.jpg
newanviltower.gif
newarc.gif
newblock.gif
newcactus.gif


<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages ") %>
<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


</section>
