<%= provide(:html_class, "wishbone") %>
<%= provide(:title, 'Its a Long Way From the Wishbone to the Backbone') %>

<section class="wishbonewrap">

<%= image_tag("joelzebcactus.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebfur.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebtexture.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebslants.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebjawbone.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebspikes.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebsockslab.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebpink.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebsuit.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebbeanbag.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebbucketarc.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebanvil.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>
<%= image_tag("joelzebhang.jpg", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages") %>


	
</section>