<%= provide(:html_class, "wishbone") %>
<%= provide(:title, 'Its a long way from the wishbone to the backbone') %>
<%= provide(:container_class, "zebjoel-wrap") %>


<section class="joels-statement row">
	<%= image_tag("joelstatement.png", alt: 'In the woods...', class: "img-responsive center-block zebstatement") %>
</section>
<!--
<section class="wishbonewrap">

<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

</section>

  -->

<section class="wishbonewrap">

<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>


<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>


<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>


<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone ") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

	</section>

	


