<%= provide(:html_class, "wishbone") %>
<%= provide(:title, 'Its a Long Way From the Wishbone to the Backbone') %>




<section class="wishbonewrap-off">


<%= image_tag("newanvil.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive center-block wishboneimages anvil ") %>
<%= image_tag("newcactus.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newblock.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newanviltower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newarc.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>
<%= image_tag("newtower.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newsuit.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newslab.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newjawbone.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>

<%= image_tag("newdangler.gif", alt: "Its a Long Way From the Wishbone to the Backbone", class: "img-responsive wishboneimages backbone") %>









</section>
