<%= render 'navbar' %>
<section class="row">
	<%= render 'contributors/contributors' %>
	<!-- Display Welcome Message! -->
	<section class="welcome col-md-8 col-md-offset-1">
		<h1><em><b>Welcome to the <span class = "logo">Limited Time Library</span> Database!</b></em></h1>
		<br>
		<h4>Please browse by <%= link_to 'contributor', root_path %>, <%= link_to 'author', authors_path %>, <%= link_to 'title', titles_path %>, or keyword search.</h5>

		<br>
		
		<h4>Limited Time Library Hours:</h5>
		<h4>Monday-Wednesday 12noon-9pm</h4>
		<h4>Thursday-Friday 12pm-5pm</h4>

		<br>
		<h3>October 1st - November 12th, 2015</h3>

		<br>

		<h4>Unit/Pitt Society for Art and Critical Awareness</h4>
		<h4>236 East Pender Street.</h4>
		<h4>Vancouver BC.</h4>
		<%= render 'contributors/search' %>
	</section>

</section>

