<%= provide(:html_class, 'library') %>
<%= provide(:container_class, 'container-fluid') %>
<%= render 'navbar' %>
<!-- DISPLAY ALL CONTRIBUTORS -->
<section class="row">
	<%= render 'contributors/contributors' %>
	<section class="contributors_books col-md-8 col-sm-8 col-xs-8 col-xs-offset-1 ">
				<!-- DISPLAY BOOKS -->
				<section class="row">
				<h4 class="col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-5">Title</p>
				<h4 class="col-md-5  col-sm-5 col-xs-offset-1 col-xs-5">Author</p>	
				</section>
			<% @book_collection.each do |book_collection|%>
				<section class="row book-display">
					<p class="book_title  col-md-5  col-sm-5 col-xs-offset-1 col-xs-5"><b><%= book_collection.title %></b></p>
					<p class = "book_author col-md-5  col-sm-5 col-xs-offset-1 col-xs-5"><%= book_collection.author %></p>
				</section>
			<% end %>
		<!-- DISPLAY BIO -->
		<section class="row">
			<article class="bio">
				<p class = "col-md-8 col-sm-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
					<em> <%= @bio %> </em>
				</p>
			</article>
		</section>
	</section>
</section>


	