<!DOCTYPE html>
<html class ="<%= html_class(yield(:html_class))%>" lang = "en" >
<head>
<meta charset="utf-8">
<title><%= full_title(yield(:title)) %></title>
<meta name="description" content=":: 2055 Project :: UnitPitt ::">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<%= render 'layouts/shim' %> 
<%= yield :navbar %>	
<main class="<%= container_class(yield(:container_class))%>">
<%= yield %>
</main>
<%= render 'layouts/jqga' %>
</body>
</html>
